@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<p>Have a question or feedback? Reach out to us using the ways below:</p>
<p>Email: info@khumalocraft.com</p>
<p>Contact Number: 031 420 0697</p>


<div>
    <a asp-page="./Index" class="btn btn-primary">Home</a>
    <a asp-page="./About" class="btn btn-primary">About Us</a>
    <a asp-page="./MyWork" class="btn btn-primary">Our Work</a>
</div>
