@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p class="lead">Step into a world of creativity, your premier destination for exquisite handcrafted treasures from around the globe.</p>
    <hr class="my-4">
    <p>At KhumaloCraft Emporium, we believe in the power of craftsmanship to transcend borders and connect cultures. Each piece in our curated collection tells a story, weaving together the rich tapestry of human creativity and ingenuity.</p>
    <p>From intricately woven textiles to meticulously sculpted ceramics, every item in our emporium is a testament to the skill and dedication of artisans worldwide. Whether you're searching for a statement piece to adorn your home or a unique gift for a loved one, you'll find inspiration at every turn.</p>
    <p>But KhumaloCraft Emporium is more than just a marketplace; we're a community of artists, artisans, and enthusiasts united by a shared passion for creativity and cultural exchange. Join us on a journey of discovery as we celebrate the beauty of handmade craftsmanship and the artisans who bring it to life.</p>
</div>

<div>
    <h2>Explore Our Website:</h2>
    <div>
        <a asp-page="./About" class="btn btn-primary">About Us</a>
        <a asp-page="./Contact" class="btn btn-primary">Contact Us</a>
        <a asp-page="./MyWork" class="btn btn-primary">Our Work</a>
    </div>
</div>
